<footer class="margen-cosas margen-cosas2  margen-top" id="contacto">
    <h2 class="imp">Contacta Conmigo</h2>
    <p class="col-xl-6">
        Estoy disponible para discutir cómo puedo contribuir a su empresa y
        compartir más detalles sobre mis conocimientos y experiencias
        relevantes.
    </p>

    <p class="imp no-margin">Email</p>
    <p>erikjohnprivate&#64;gmail&#46;com</p>
    <p class="imp no-margin">Teléfono</p>
    <p>+34 608 964 923</p>
    <div class="redes col-md-6 col-xl-5">
        <a href="https://github.com/erikFREmp" class><img src="github.png" alt class="col-1"></a>
        <a href="https://www.linkedin.com/in/erik-john-flores-roque/" class><img
                src="linkedin.png" alt class="col-1"></a>
    </div>

</footer>
