<section class="col-12 margin_0 margen-cosas margen-cosas2 margin_0-xl">
    <h1 class="imp">Erik John Flores Roque</h1>
    <p class="imp margin_no">Desarrollador Fullstack</p>
    <p>
        <span class="imp">Programador Junior</span> comprometido con la <span
            class="imp">calidad</span> y la <span class="imp">precisión</span>.
        Enfocado
        en <span class="imp">alcanzar objetivos</span> y en el <span
            class="imp">crecimiento constante</span>, tanto profesional
        como personal.
    </p>

    <div class="redes row-redes">
        <div class="col-5">
            <a href="https://github.com/erikFREmp" class="margen-redes" target="_blank"><img src="github.png" alt
                    class="col-3 col-sm-2 col-lg-1"></a>
            <a href="https://www.linkedin.com/in/erik-john-flores-roque/"
                class="margen-redes" target="_blank"><img
                    src="linkedin.png" alt class="col-3 col-sm-2 col-lg-1">
            </a>
            <a href="#" (click)="scrollToSection('contacto')" class="margen-redes"><img src="email.png" alt
                    class="col-3 col-sm-2 col-lg-1"></a>
        </div>
        <div class="col-7">
            <a class="btn btn-secondary"
                href="https://drive.google.com/file/d/1wi12xiU-CWQ23lhhAAfQzDdgWG4SsyJJ/view?usp=sharing" target="_blank">Ver
                Currículum</a>
        </div>
    </div>
</section>
<section class="col-12 margin_0 margen-cosas margen-cosas2-i">
    <div class="centrar-izq">
        <h2 class="imp">Experiencia Laboral</h2>
        <div class="md-view1 margen-top-view">
            <div class="col-12 col-md-6">
                <h5 class="imp">Eviden</h5>
                <p class="imp no-margin">Programador en Prácticas</p>
                <p class>Abril 2024 - Junio 2024</p>
            </div>
            <div class="col-12 col-md-6">
                <p class="wrap-e">
                    Como Desarrollador de Aplicaciones en Prácticas en Eviden,
                    trabajé en el front end de un proyecto utilizando Spring
                    Boot y
                    Angular 17. Apliqué Scrum y Ágile para gestionar proyectos
                    de
                    manera eficiente, y utilicé Git para manejar ramas y
                    resolver
                    conflictos dentro del equipo.
                </p>
                <p class="imp no-margin">Tecnologías</p>
                <p>Angular, TypeScipt, SpringBoot, Mysql, Github</p>
            </div>
        </div>
        <hr class="hr-clss">
        <div class="md-view1">
            <div class="col-12 col-md-6">
                <h5 class="imp">Mercadona</h5>
                <p class="imp no-margin">Cajero</p>
                <p>Julio 2024 - Agosto 2024</p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    Atendí a clientes proporcionando información y resolviendo
                    dudas, manejé transacciones con TPV y colaboré en la
                    reposición
                    de productos y en la recepción de mercancías.
                </p>
                <p class="imp no-margin">Aptitudes</p>
                <p>Atención al Cliente, Capacidad de Priorizar, Manejo de TPV,
                    Trabajo en Equipo</p>
            </div>
        </div>
        <hr class="hr-clss">
    </div>
</section>
<section class="margen-cosas margen-cosas2-i">
    <h3 class="imp">Proyectos Recientes</h3>
    <div class="padding-0e view-lg-pr margeb-lg-tb">
        <div class="col-lg-6">
            <div class="col-lg-11">
                <p class="proyecto">
                    <img src="streamvision.png" alt
                        class="col-12 col-lg-12 borde-img borde-lg-img">
                </p>
            </div>
        </div>
        <div class="margen-top-1 col-lg-6 margen-view-lg">
            <h4 class="imp">Streamvision</h4>
            <p class="padding-0">Plataforma de compra y venta de
                películas,
                disponible
                en varios idiomas y dispositivos. Desarrollada con un
                equipo
                bajo la metodología Scrum.</p>

            <ul class="class-ul centrar-li row-er">
                <li class="class-li">Angular</li>
                <li class="class-li">TypeScript</li>
                <li class="class-li">Sprinboot</li>
                <li class="class-li">Mysql</li>
                <a href="https://github.com/erikFREmp/Series-Films" class="col-1" target="_blank"><img src="github.png" alt
                        class="col-10 col-sm-9"></a>
            </ul>
        </div>
    </div>
    <div class="padding-0e view-lg-pr2 margeb-lg-tb">
        <div class="col-lg-6">
            <div class="col-lg-11">
                <p class="proyecto">
                    <img src="ERP.png" alt class="col-12 col-lg-12 borde-img borde-lg-img">
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="margen-1 margen-arr margen-view-lg">
                <h4 class="imp">ERP gestión de una empresa</h4>
                <p class="padding-0">Programa que lleva a cabo la gestión de
                    inventario, compras, ventas y socios de una empresa</p>
            </div>
            <ul class="class-ul centrar-li">
                <li class="class-li">PHP</li>
                <li class="class-li">JavaScript</li>
                <li class="class-li">MVC</li>
                <li class="class-li">MySql</li>
                <a href="https://github.com/erikFREmp/Plataforma-Administracion" class="col-1" target="_blank"><img src="github.png" alt
                        class="col-10 col-sm-9"></a>
            </ul>
        </div>
    </div>
    <div class="padding-0e view-lg-pr margeb-lg-tb">
       <div class="col-lg-6">
            <div class="col-lg-11">
                <a href="https://drive.google.com/file/d/1rGyl0n6dIeq-syWEb7ezDdhJ0_LEWxN2/view?usp=sharing" class="proyecto">
                    <img src="Backroom.png" alt="Backroom" class="col-12 col-lg-12 borde-img borde-lg-img">
                </a>
            </div>
       </div>
        <div class="col-lg-6">
            <div class="margen-1 margen-arr margen-view-lg">
                <h4 class="imp">Escapa de la BackRoom</h4>
                <p class="padding-0">Juego 2D diseñado con Android Studio</p>
            </div>
            
                <ul class="class-ul centrar-li">
                    <li class="class-li">Java</li>
                    <li class="class-li">LibGDX</li>
                    <li class="class-li">Android Studio</li>
                    <a href="https://github.com/erikFREmp/Backroom" class="col-1" target="_blank"><img src="github.png" alt
                            class="col-10 col-sm-9"></a>
                </ul>
        </div>

    </div>
</section>
<section class="text-center col-12 margin_0 margen-cosas margen-cosas2-i">
    <h3 class="imp">Conocimientos</h3>
    <div class="row_e margen-arr2">
        <div class="col-3 col-xl-2">
            <img src="html5.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="css.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="jse.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="angular.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="bootstrap.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="php.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="typescript.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="android.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="spring.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="mysql.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="git.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
        <div class="col-3 col-xl-2">
            <img src="linux.png" alt class="col-5 col-md-4 col-lg-3 col-xl-4">
        </div>
    </div>
</section>